@charset "UTF-8";

#wrap {
	margin:auto;
	width:1200px;
}
	
.main-menu {
	width:200px;
	height:700px;
}

.contents{
	width:1000px;
	height:700px;
}

.logo {
	height:150px;
}

footer {
	height:70px;
}
